<div class="boxContentError">
    <div class="boxError">
        <div class="boxImg">
            <img [src]="pageInformation.image" alt="">
        </div>
        <div class="descripError" [innerHTML]="pageInformation.title">
        </div>
    </div>
</div>