<p-toast position="{{ this.objInputToast.position! }}" [baseZIndex]="this.objInputToast.baseZIndex!" key="{{ this.objInputToast.key! }}">
    <ng-template let-message pTemplate="message">
        <span class="p-toast-message-icon pi pi-exclamation-circle"></span>
        <div class="p-toast-message-text">
            <div class="p-toast-summary">{{ message.summary }}</div>
            <div class="p-toast-detail">
                {{ message.detail }}
                <span class="p-span-click" (click)="emitClickEvent()"><br /><a style="text-decoration-line: underline"
            >{{objInputToast.textClick}}</a></span>
            </div>
        </div>
    </ng-template>
</p-toast>