:host {
    display: contents !important;
}

.title-mod-category {
    font-size: 30px;
    font-weight: 600;
}

.bgBlueAction .boxAction {
    // display: none;
    // width: 100%;
    position: fixed;
    /* bottom: -1px; */
    background: #ffffff;
    padding: 42px 32px;
    z-index: 101;
    bottom: auto;
}

.chip {
    text-align: center;
    padding: 0.8rem;
    font-size: 14px;
    width: auto;
}

.content-chips {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.contenedor .home .portletBox.marginTop {
    margin-top: 60px !important;
}



@media (max-width: 1200px) {
    //desktop
    // .home {
    //     display: block;
    // }
    .boxCategory {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .portletBox.marginTop {
        width: 100% !important;
    }
}

@media (max-width: 1024px) {
    //desktop
    .moreSearch {
        width: auto !important;
        margin: 0px 5px 0px 5px;
    }
}

@media (min-width: 1024px) {
    //desktop
    .boxItems {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 700px) {
    //desktop
    .boxItems {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 640px) {
   .marginTop {
         margin-top: 0px !important;
         margin-bottom: 0px !important;
    }
    //desktop
    .moreSearch {
        width: auto !important;
    }
    .boxItems {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 440px) {
    //desktop
    .boxItems {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .boxCategory {
        gap: 2px;
    }
}

@media (max-width: 435px) {
    //desktop
    .boxItems {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (min-width: 640px) {
    //desktopsdadsa
    .portletBox.marginTop {
        margin-top: 0px !important;
    }
}

.boxItems {
    flex-wrap: wrap;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
.portletBox > .titulo{
display: flex;
justify-content: space-between;
}
.portletBox > .titulo .btnMore{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #3361E4;
}

@media (min-width: 640px){
    .container-categories-blueAction{
        justify-content: center;
        display: flex;
        align-items: center;
   
    }
    .container-modal-categories{
        // overflow-y: auto;
        width: 700px;
        min-height: 536px;
        height: auto;
        border-radius: 30px !important;
        // top: 5%;
    }
    .content-chips {
        padding: 0px 30px 20px 30px;
    }
    .w100Boton{
        justify-content: right;
        margin-top:0;
    }
    .padding-search{
        padding: 0 65px 20px 30px;
    }
}

.moreSearch {
    .onlyMobile {
        margin-top: 15px;
    }
}