<div class="container">
  <h2>Bienvenidos</h2>

  <h2 *ngIf="intermediarioService.listaUsuario.length > 0">Se registraron los siguientes usuarios:</h2>
  <ul *ngIf="intermediarioService.listaUsuario.length > 0" class="list-group">
    <li
      *ngFor="let item of intermediarioService.listaUsuario"
      class="list-group-item"
    >
      <a>
        {{ item }}
      </a>
    </li>
  </ul>
</div>
