<form [formGroup]="formUbigeo">
  <p-dialog
    [(visible)]="visibleDialogLocation"
    [modal]="true"
    [style]="{ width: '600px' }"
    class="eco-dialog"
    (onHide)="hideDialogLocation()"
  >
    <div class="eco-dialog__content">
      <h2>Ubicación</h2>
      <p>Ingresa tu ubicación y se mostraran los productos cercanos.</p>
      <div class="eco-select">
        <label>Departamento</label>
        <p-dropdown
          formControlName="departmentId"
          (onChange)="selectDepartment($event)"
          [options]="dataDepartments"
          appendTo="body"
          placeholder="Elegir"
          optionValue="id"
          optionLabel="name"
        ></p-dropdown>
      </div>
      <div class="eco-select">
        <label>Provincia</label>
        <p-dropdown
          formControlName="provinceId"
          (onChange)="selectProvinces($event)"
          [options]="dataProvinces"
          appendTo="body"
          placeholder="Elegir"
          optionValue="id"
          optionLabel="name"
        ></p-dropdown>
      </div>
      <div class="eco-select">
        <label>Distrito</label>
        <p-dropdown
          formControlName="districtId"
          (onChange)="selectDistrict($event)"
          [options]="dataDistricts"
          appendTo="body"
          placeholder="Elegir"
          optionValue="id"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        [disabled]="!formUbigeo.valid"
        (onClick)="saveUbigeo()"
        label="Guardar"
        styleClass="p-button-lg w-100 eco-button eco-button--primary"
      >
      </p-button>
    </ng-template>
  </p-dialog>
</form>
