.eco-dialog__content{
    padding: 0 16px 20px 16px;
    h2{
        font-size: 18px;
        font-family: var(--eco-font-semibold);
        color: var(--eco-black-800);
        margin: 0;
        margin-bottom: 16px;
    }
    p{
        color: #374151;
        font-size: 14px;
        margin: 0;
        margin-bottom: 24px;
    }
}
.p-dialog {
    .p-dialog-footer {
        .eco-button{
            border-radius: 6px !important;
        }
    }
}
