<form [formGroup]="loginForm">
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          formControlName="correo"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Correo</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          formControlName="clave"
          placeholder="Password"
        />
        <label for="floatingPassword">Contraseña</label>
      </div>
      <button
        [ngClass]="{ disabled: !loginForm.valid }"
        (click)="login()"
        class="w-100 btn btn-lg btn-primary mt-5"
        type="submit"
      >
        Ingresar
      </button>
    </div>
  </div>
</form>
