.recoverd-user-and-passw {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.boxForm .contentBox .option {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 0 0;
}

.boxForm .contentBox .forgotPass {
    padding: 5px;
}

.titleBlueDesktop {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #0EA5E9;
    margin-bottom: 0px;
    margin-top: 5px;
}

@media (max-width: 640px) {
    //mobile
    .login-img {
        display: none;
    }
}

@media(min-width: 641px) {
    //desktop
    .home {
        background: #F4F5F8;
    }
    .boxForm.bgGris {
        // background: #F4F5F8;
        background: white;
        padding: 20px 0px;
        margin-bottom: 40px;
        width: 1000px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .title {
        background: white;
        padding: 30px 20px 20px 50px !important;
        border-radius: 7px;
    }
    .boxForm .contentBox.verMovil {
        width: 100%;
    }
    .boxForm .contentBox {
        padding: 0 30px 20px 50px;
    }
    .boxForm .contentBox .vMobile {
        justify-content: right;
        margin: 10% 0 10px 0;
    }
    .boxForm .contentBox .cuenta {
        justify-content: right;
    }
    .boxForm .contentBox .rowInput {
        margin-top: 0px !important;
    }
}

@media(max-width: 768px) {
    //desktop
    .contenedor .home .divBreadcrumb {
        width: 100%;
    }
    .contenedor .home .title {
        width: 100%;
    }
    .boxForm.bgGris {
        width: 100% !important;
    }
    .boxForm.bgGris {
        width: 1000px;
    }
    .contenedor .header.bgDegradado {
        width: 1000px;
    }
    .title {
        width: 100% !important;
    }
}

@media(max-width: 1024px) {
    //desktop
    .home {
        display: block;
    }
    .contenedor .header {
        display: block;
    }
    .boxForm.bgGris {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }
    .title {
        width: 100% !important;
    }
    .login-img {
        display: none;
    }
}

// @media (max-width: 975px) {
//     .contenedor .header {
//         display: block !important;
//     }
// }