@use "sass:map";
@import "variables/colors";
@import "variables/fonts";

:root{
    --eco-primary: #{map-get($theme-colors, "primary")};
    --eco-success: #{map-get($theme-colors, "success")};
    --eco-alert: #{map-get($theme-colors, "alert")};
    --eco-error: #{map-get($theme-colors, "error")};
    --eco-blue-100: #{map-get($blue, 100)};
    --eco-blue-200: #{map-get($blue, 200)};
    --eco-blue-700: #{map-get($blue, 700)};
    --eco-blue-1000: #{map-get($blue, 1000)};
    --eco-blue-1300: #{map-get($blue, 1300)};
    --eco-green-100: #{map-get($green, 100)};
    --eco-green-1000: #{map-get($green, 1000)};
    --eco-green-1400: #{map-get($green, 1400)};
    --eco-orange-100: #{map-get($orange, 100)};
    --eco-orange-1000: #{map-get($orange, 1000)};
    --eco-orange-1400: #{map-get($orange, 1400)};
    --eco-red-100: #{map-get($red, 100)};
    --eco-red-1000: #{map-get($red, 1000)};
    --eco-red-1400: #{map-get($red, 1400)};
    --eco-turquoise-100: #{map-get($turquoise, 100)};
    --eco-turquoise-800: #{map-get($turquoise, 800)};
    --eco-gray-100: #{map-get($gray, 100)};
    --eco-gray-200: #{map-get($gray, 200)};
    --eco-gray-300: #{map-get($gray, 300)};
    --eco-gray-400: #{map-get($gray, 400)};
    --eco-gray-500: #{map-get($gray, 500)};
    --eco-gray-600: #{map-get($gray, 600)};
    --eco-gray-700: #{map-get($gray, 700)};
    --eco-black-800: #{map-get($black, 800)};
    --eco-font-light: #{$font-light};
    --eco-font-regular: #{$font-regular};
    --eco-font-medium: #{$font-medium};
    --eco-font-semibold: #{$font-semibold};
    --eco-font-bold: #{$font-bold};
}