@import "variables";
@import "../../node_modules/primeflex/primeflex.min.css";

body {
    background-color: #FFFFFF;
    color: #4b4b4b;
    font-family: var(--eco-font-regular);
    font-size: 16px;
    overflow-x: hidden;
}
.eco-bg-blue{
    background-color: var(--eco-blue-1000);
}
.eco-bg-gray{
    background-color: var(--eco-gray-100);
}
.eco-bg-white{
    background-color: #FFFFFF;
    &.eco-br{
        border-radius: 10px;
    }
}
.eco-br8{
    border-radius: 8px;
}
.eco-container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 16px ;
    &.eco-br8{
        padding: 20px;
    }
    &__title{
        margin: 8px 0;
        h2{
            margin: 0;
            font-size: 16px;
            font-family: var(--eco-font-semibold);
        }
    }
    &__header{
        margin: 0;
        margin-bottom: 20px;
        h2{
            font-size: 25px;
            font-family: var(--eco-font-bold);
            margin: 0;
            &.white{
                color: #FFFFFF;
            }
        }
        .eco-btnViewMore{
            width: 100%;
            max-width: max-content;
            span{
                display: block;
                color: var(--eco-blue-700);
                margin-right: 10px;
            }
            img{
                -webkit-transition: transform .25s ease-in-out;
                -moz-transition: transform .25s ease-in-out;
                -ms-transition: transform .25s ease-in-out;
                -o-transition: transform .25s ease-in-out;
                transition: transform .25s ease-in-out;
            }
            &.active{
                img{
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
    }
}
.eco-select{
    margin: 10px 0;
    label{
        display: block;
        font-size: 14px;
        font-family: var(--eco-font-semibold);
        color: var(--eco-black-800);
        margin-bottom: 2px;
    }
    .p-dropdown{
        border: 1px solid var(--eco-black-800) !important;
        box-shadow: none !important;
        .p-dropdown-label{
            font-size: 16px;
            font-family: var(--eco-font-medium);
            color: var(--eco-black-800);
        }
    }
}
.eco-button{
    font-size: 14px;
    font-family: var(--eco-font-bold);
    height: 100%;
    box-shadow: none;
    outline: none;
    padding: 10px 16px;
    &[disabled]{
        opacity: 0.6;
        pointer-events: none;
    }
    .p-button{
        height: 100%;
        box-shadow: none;
        outline: none;
        &[disabled]{
            pointer-events: none;
        }
    }
    &--primary{
        background-color: var(--eco-primary);
        .p-button{
            background-color: var(--eco-primary);
        }
    }
    &--default{
        background-color: var(--eco-blue-100);
        border: 1px solid var(--eco-blue-200);
        color: var(--eco-primary);
        border-radius: 8px;
        .p-button {
            background-color: var(--eco-blue-100);
            border: 1px solid var(--eco-blue-200);
            color: var(--eco-primary);
            border-radius: 8px;
        }
    }
}
.eco-gridcard {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(195px,1fr));
    gap: 12px;
    margin: 16px 0;
    &--three{
        grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
        gap: 24px;
    }
    &--four{
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
        gap: 40px;
    }
    &--five{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        gap: 24px;
    }
    &--eight{
        grid-template-columns: repeat(auto-fill,minmax(110px,1fr));
        gap: 45px;
    }
}
.eco-gridcontainer{
    display: grid;
    grid-template-columns: 232px 1fr;
    gap: 24px;
    &__filtro{
        .eco-filtro__title{
            padding: 24px 0;
            border-bottom: 1px solid #E4E7E9;
            h2{
                width: 100%;
                margin: 0;
                font-size: 16px;
                font-family: var(--eco-font-semibold);
            }
        }
        .eco-filtro__aplication{
            margin-top: 16px;
        }
    }
    &__products{
        .eco-products__header{
            .eco-header__title{
                width: 100%;
                p{
                    font-size: 14px;
                    margin: 0;
                    width: 100%;
                    strong{
                        font-family: var(--eco-font-semibold);
                    }
                }
            }
            .eco-header__actions{
                width: 100%;
                max-width: max-content;
                .eco-select{
                    label{
                        width: 100%;
                        max-width: max-content;
                    }
                }
            }
        }
    }
}
.eco-productcard {
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: 335px;
    &.eco-productcard--star{
        height: 320px;
        border-radius: 8px;
        .eco-productcard__content{
            height: 120px;
            .product{
                height: 40px;
            }
        }
    }
    &__header {
        height: 200px;
        position: relative;
        width: 100%;
        .eco-discount{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #FBBF24;
            width: 100%;
            max-width: 53px;
            height: 36px;
            color: var(--eco-blue-1300);
            font-family: var(--eco-font-semibold);
            font-size: 16px;
        }
        .cardAll--img {
            height: 100%;
            object-fit: cover;
            transition: all .4s;
            width: 100%;
            cursor: pointer;
        }
        .iconLike {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    &__content {
        padding: 8px 16px;
        position: relative;
        width: 100%;
        cursor: pointer;
        height: 135px;
        flex-direction: column;
        &::before {
            background: #0A3FA8;
            content: '';
            height: 0%;
            left: 0;
            position: absolute;
            top: 0;
            transition: all .3s;
            width: 100%;
            z-index: 0;
        }
        .name, .product, .monto, .socialMedia {
            position: relative;
            transition: all .3s;
            z-index: 1;
        }
        .name {
            font-family: var(--eco-font-medium);
            font-size: 14px;
            color: #9CA3Af;
        }
        .product {
            color: var(--eco-primary);
            cursor: pointer;
            font-size: 16px;
            line-height: normal;
            font-family: var(--eco-font-semibold);
            height: 60px;
        }
        .monto {
            color: #313437;
            font-size: 24px;
            font-family: var(--eco-font-medium);
            span {
                font-size: 16px;
            }
        }
        .socialMedia {
            align-items: center;
            display: flex;
            display: -webkit-flex;
            justify-content: flex-end;
            margin-bottom: 5px;
            .socialLink {
                cursor: pointer;
                height: 2.5rem;
                margin-left: 1rem;
                padding: 0 .5rem;
                .iconSocialLink {
                    stroke: #A0A4A8;
                    transition: all .4s;
                }
            }
        }
    }
    &:hover {
        .eco-productcard__header {
            .cardAll--img {
                transform: scale(1.1);
            }
        }
        .eco-productcard__content {
            &::before {
                height: 100%;
            }
            .name, .product, .monto {
                color: #FFFFFF;
            }
            .socialMedia {
                .socialLink{
                    .iconSocialLink {
                        stroke: #A4BFFB;
                    }
                }
            }
        }
    }
}
.p-inputtext{
    font-size: 14px;
    font-family: var(--eco-font-medium);
    padding: 12px 20px;
    height: 40px;
    &::-webkit-input-placeholder{
        color: var(--eco-gray-400);
    }
}
.field-checkbox,
.field-radiobutton{
    > label{
        font-size: 14px;
        margin-left: 8px;
    }
}
.eco-select{
    .p-dropdown{
        height: 40px;
        padding: 0 5px;
        .p-dropdown-label{
            display: -webkit-flex;
            align-items: center;
            font-family: var(--eco-font-regular);
            padding-right: 16px !important;
        }
        .p-dropdown-trigger-icon{
            font-size: 13px;
        }
    }
}
.p-checkbox {
    .p-checkbox-box{
        border-radius: 4px;
    }
}
.eco-navbar__filter{
    width: 100%;
    background-color: #F2F4F5;
    padding: 12px 14px;
    margin-top: 8px;
    display: flex;
    display: -webkit-flex;
    .eco-navbar__filter--title{
        margin-right: 5px;
        width: 100%;
        max-width: max-content;
        p{
            margin: 0;
            font-size: 14px;;
        }
    }
    .eco-navbar__filter__actions{
        width: 100%;
        .eco-filter__item{
            padding: 0 3px;
            p{
                margin: 0;
                font-family: var(--eco-font-medium);
                color: var(--eco-black-800);
                font-size: 14px;
                margin-right: 5px;
            }
            i{
                cursor: pointer;
                color: var(--eco-gray-400);
            }
        }
    }
}
.eco-accordion{
    &:last-child{
        .p-accordion-tab{
            border: none;
        }
    }
    .p-accordion-tab{
        margin: 0 !important;
        border-bottom: 1px solid #E4E7E9;
        .p-accordion-header{
            .p-accordion-header-link{
                background-color: transparent !important;
                border: none;
                box-shadow: none !important;
                justify-content: space-between;
                padding: 16px 0;
                .p-accordion-header-text{
                    order: 1;
                    font-size: 16px;
                    font-family: var(--eco-font-medium);
                    font-weight: 100;
                }
                .p-accordion-toggle-icon{
                    order: 2;
                    font-size: 13px;
                    color: var(--eco-primary);
                }
            }
        }
        .p-accordion-content{
            border: none;
            padding: 8px 0 16px 0;
            background-color: transparent;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    font-size: 14px;
                    padding: 8px 12px;
                    font-family: var(--eco-font-medium);
                    -webkit-transition: color .25s ease-in-out;
                    -moz-transition: color .25s ease-in-out;
                    -ms-transition: color .25s ease-in-out;
                    -o-transition: color .25s ease-in-out;
                    transition: color .25s ease-in-out;
                    cursor: pointer;
                    &.active,
                    &:hover{
                        color: var(--eco-primary);
                    }
                }
            }
        }
    }
}
.p-dialog{
    overflow: hidden;
    border-radius: 24px;
    .p-dialog-header{
        border: none;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        .p-dialog-header-icon{
            width: 40px;
            height: 40px;
            border-radius: 10px;
            border: none;
            background-color: #F7F8F9 !important;
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .p-dialog-content{
        padding: 0;
        .eco-dialog__banner &{
            border-radius: 16px;
        }
    }
    .p-dialog-footer{
        padding-bottom: 48px;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 24px;
        .eco-button{
            height: 56px;
            //border-radius: 28px;
        }
    }
}
.p-carousel{
    .p-carousel-indicators{
        margin-bottom: 20px;
        .p-carousel-indicator{
            margin: 0 6px;
            button{
                background-color: #D9D9D9;
                height: 8px;
                width: 32px;
            }
            &.p-highlight{
                button{
                    background-color: var(--eco-primary);
                }
            }
        } 
    } 
}
.eco-slider__container{
    .p-carousel-container{
        padding: 0 50px;
    }
    .p-carousel-next{
        right: 0;
    }
    .p-carousel-prev{
        left: 0;
    }
}
.eco-emptystate{
    height: 600px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.eco-error{
    display: block;
    color: #FF2222;
    font-size: 12px;
    margin-top: 3px;
}
.eco-tooltip__container{
    position: relative;
}
.eco-onlyMobile {
    display: none !important;
}
@media (max-width: 1024px){
    .eco-gridcard {
        &--four{
            &.eco-fullwidth--mobile{
                display: flex;
                align-items: center;
                overflow: hidden;
                overflow-x: auto;
                margin-right: -20px;
                &::-webkit-scrollbar{
                    background-color: transparent;
                    height: 0px;
                }
            }
        }
    }
    .eco-productcard{
        .eco-fullwidth--mobile & {
            width: 255px;
        }
    }
}

@media (max-width: 768px){
    .p-dialog-mask{
        padding: 20px;
    }
}
@media (max-width: 680px) {
    .eco-onlyDesktop {
      display: none !important;
    }
    .eco-onlyMobile {
        display: flex !important;
    }
    .eco-container{
        &.eco-br8{
            border-radius: 0;
        }
        &__header{
            &.text-center-mobile {
                h2{
                    margin: auto;
                }
            }
            h2{
                font-size: 20px;
            }
        }
    }
    .eco-gridcard {
        grid-template-columns: repeat(auto-fill,minmax(165px,1fr));
        gap: 15px;
        &--three{
            grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
            gap: 16px;
        }
        &--eight{
            width: 100%;
            margin: auto;
            display: flex;
            display: -webkit-flex;
            overflow: hidden;
            overflow-x: auto;
            &::-webkit-scrollbar{
                background-color: transparent;
                height: 0px;
            }
        }
    }
    .eco-gridcontainer{
        display: block;
        &__filtro{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
            -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
            -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
            -ms-transition: all .2s cubic-bezier(.4,0,.2,1);
            -o-transition: all .2s cubic-bezier(.4,0,.2,1);
            transition: all .2s cubic-bezier(.4,0,.2,1);
            padding: 0 16px;
            background-color: var(--eco-blue-1300);
            z-index: 99;
            height: 100vh;
            color: #FFFFFF;
            overflow-y: auto;
            &.eco-active{
                -webkit-transform: translateX(0);
                -moz-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);          
                transform: translateX(0);
            }
            .field-checkbox,
            .field-radiobutton{
                > label{
                    color: #FFFFFF;
                }
            }
        }
        &__products{
            .eco-products__header{
                flex-direction: column;
                .eco-header__title{
                    width: 100%;
                    justify-content: space-between;
                    margin: 16px 0;
                    h2{
                        font-size: 18px;
                        font-family: var(--eco-font-semibold);
                        margin: 0;
                    }
                    p{
                        max-width: 95px;
                        text-align: right;
                    }
                }
                .eco-header__actions{
                    width: 100%;
                    gap: 20px;
                    max-width: 100%;
                    .eco-select{
                        width: 100%;
                        display: block !important;
                        .form-select{
                            height: 40px;
                        }
                    }
                    .eco-button__filtro{
                        border: 1px solid var(--eco-black-800);
                        height: 40px;
                        border-radius: 8px;
                        width: 100%;
                        padding: 0 16px;
                        cursor: pointer;
                        p{
                            width: 100%;
                            font-family: var(--eco-font-medium);
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .eco-productcard {
        height: 300px;
        .eco-gridcard--vistos &{
            &__content {
                justify-content: flex-start !important;
                .name {
                    order: 2;
                }
                .product {
                    order: 1;
                    height: 20px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;  
                }
                .monto{
                    order: 3;
                    margin-top: auto;
                }
            }
        }
        &__header {
            height: 185px;
        }
        &__content {
            padding: 8px;
            height: 115px;
        }
        &.eco-productcard--star{
            height: 280px;
            border-radius: 4px;
            .eco-productcard__header{
                height: 170px;
            }
            .eco-productcard__content{
                height: 110px;
            }
        }
    }
    .eco-select{
        .p-dropdown{
            padding: 0;
            .p-dropdown-label{
                font-size: 14px !important;
                font-family: var(--eco-font-medium);
            }
        }
    }
    .p-carousel{
        .p-carousel-indicators{
            .p-carousel-indicator{
                margin: 0 6px;
                button{
                    height: 6px;
                    width: 20px;
                }
            } 
        } 
    }
    .eco-accordion{
        .p-accordion-tab{
            .p-accordion-header{
                .p-accordion-header-link{
                    .eco-gridcontainer__filtro & {
                        color: #FFFFFF !important;
                        font-family: var(--eco-font-semibold);
                    }
                }
                .p-accordion-toggle-icon{
                    .eco-gridcontainer__filtro & {
                        color: #FFFFFF;
                    }
                }
            }
            .p-accordion-content{
                ul{
                    li{
                        .eco-gridcontainer__filtro & {
                            color: #FFFFFF !important;
                        }
                    }
                }
            }
        }
    }
    .eco-slider__container{
        .p-carousel-container{
            padding: 0;
        }
        .p-carousel-next{
            display: none;
        }
        .p-carousel-prev{
            display: none;
        }
    }
    .eco-navbar__filter{
        flex-direction: column;
    }
}
@media (max-width: 420px) {
    .eco-gridcard {
        grid-template-columns: repeat(auto-fill,minmax(155px,1fr));
        &--three{
            grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
            gap: 16px;
        }
    }
}