.eco-header{
  background-color: var(--eco-blue-1300);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  .eco-container{
    padding: 0 16px;
   .eco-header__groupHead {
      padding: 16px 0px;
      .eco-header__logo{
        width: 100%;
        max-width: max-content;
        margin-right: 24px;
      }
      .eco-header__mobile{
        width: 100%;
        max-width: max-content;
        .eco-header__user{
          width: 100%;
          max-width: max-content;
          cursor: pointer;
          padding: 0 16px;
          img{
            width: 100%;
            max-width: 20px;
            margin-right: 8px;
          }
          p{
            font-family: var(--eco-font-semibold);
            width: 100%;
            max-width: 96px;
            text-align: left;
            font-size: 14px;
            color: #ffffff;
          }
        }
      }
    }
    .eco-header__location{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      width: 100%;
      max-width: 190px;
      margin: 0 24px;
      cursor: pointer;
      img{
        width: 100%;
        max-width: 24px;
        margin-right: 8px;
      }
      p{
        color: #FFFFFF;
        font-family: var(--eco-font-semibold);
        font-size: 14px;
        margin: 0;
      }
    }
    .eco-header__buscador{
      display: flex;
      display: -webkit-flex;
      align-items: center;
      width: 100%;
      position: relative;
      .form-control{
        -webkit-border-radius: 21px;
        -moz-border-radius: 21px;
        border-radius: 21px;
        padding: 20px;
        height: 40px;
      }
      .iconSearch{
        position: absolute;
        right: 24px;
      }
    }
    .eco-header__menuBox{
      position: relative;
      &.eco-active{
        .eco-dropdown__menu{
          display: flex;
        }
      }
      .eco__menuBox__links{
        padding: 8px 0 16px 0;
        gap: 16px;
        .link{
          height: 32px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          cursor: pointer;
          padding: 4px 10px 4px 6px;
          .icon{
            width: 100%;
            max-width: 24px;
            margin-right: 10px;
            img{
              width: 100%;
            }
          }
          .text{
            font-family: var(--eco-font-semibold);
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
          }
          &:hover{
            background-color: var(--eco-primary);
          }
        }
      }
      .eco-dropdown__menu {
        display: none;
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        background-color: #f9f9f9;
        min-width: 240px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        width: max-content;
        max-width: 995px;
        height: auto;
        background: #FFFFFF;
        border-radius: 5px;
        overflow: hidden;
        .eco-dropdown__content{
          position: relative;
          display: grid;
          width: 100%;
          max-width: 995px;
          grid-template-columns: 240px 1fr;
          -webkit-transition: all .35s ease-in-out;
          -moz-transition: all .35s ease-in-out;
          -ms-transition: all .35s ease-in-out;
          -o-transition: all .35s ease-in-out;
          transition: all .35s ease-in-out;
          .eco-dropdown__category{
            padding: 6px 0px;
            width: 100%;
            max-width: 240px;
            height: 100%;
            max-height: 540px;
            overflow-y: auto;
            a {
              color: black;
              text-decoration: none;
              display: block;
              width: 100%;
              cursor: pointer;
              padding: 7px 12px;
              font-size: 14px;
              -webkit-transition: all .35s ease-in-out;
              -moz-transition: all .35s ease-in-out;
              -ms-transition: all .35s ease-in-out;
              -o-transition: all .35s ease-in-out;
              transition: all .35s ease-in-out;
              span{
                width: 100%;
              }
              &:hover{
                background-color: var(--eco-blue-100);
                font-family: var(--eco-font-semibold);
              }
            }
          }
          .eco-dropdown__subcategory{
            width: 100%;
            max-width: 755px;
            height: 100%;
            grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            gap: 20px;
            max-height: 540px;
            overflow-y: auto;
            padding: 20px;
            display: none;
            &.hovered{
              display: grid;
            }
            .eco-subcategory__item{
              &:hover{
                h2{
                  color: var(--eco-primary);
                }
              }
              h2{
                font-size: 14px;
                font-family: var(--eco-font-bold);
                color: #4B5563;
                margin: 0;
                padding: 6px 12px;
                -webkit-transition: all .35s ease-in-out;
                -moz-transition: all .35s ease-in-out;
                -ms-transition: all .35s ease-in-out;
                -o-transition: all .35s ease-in-out;
                transition: all .35s ease-in-out;
              }
              .eco-item__links{
                height: auto;
                a {
                  color: #4B5563;
                  text-decoration: none;
                  display: block;
                  width: 100%;
                  cursor: pointer;
                  padding: 7px 12px;
                  font-size: 14px;
                  -webkit-transition: all .35s ease-in-out;
                  -moz-transition: all .35s ease-in-out;
                  -ms-transition: all .35s ease-in-out;
                  -o-transition: all .35s ease-in-out;
                  transition: all .35s ease-in-out;
                  &:hover{
                    background-color: var(--eco-blue-100);
                    font-family: var(--eco-font-semibold);
                  }
                }
              }
              .eco-item__actions{
                a {
                  display: block;
                  font-size: 14px;
                  padding: 7px 12px;
                  color: var(--eco-primary);
                }
              }
            }
          }
        }
      }
    }
  }
}
.close-svg{
  width: 10px !important;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-left: 10px;
}
ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
  border: none;
  padding: 0.8rem 1.3rem !important;
}
.list-group {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  position: absolute;
  width: 355px;
  z-index: 10000;
}
.ul-tiendas-desktop{
  position: absolute;
  background: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: block !important;
  padding: 8px;
  border-radius: 0px 0px 8px 8px;
  z-index: 100;
  .li-añadir{
    a{
      font-weight: 600 !important;
      color: #1D4ED8 !important;
    }
  }
  li{
    cursor: pointer;
    padding: 4px 0px !important;
    a{
      cursor: pointer;
      font-weight: 500 !important;
      color: #4B5563 !important;
    }
  }
}
@media (max-width: 1024px) {
  .eco-header{
    .eco-container{
      .eco-header__menuBox{
        .eco-dropdown__menu{
          .eco-dropdown__content{
            max-width: 850px;
          }
        }
      }
    }
  }
}
@media (max-width: 860px) {
  .eco-header{
    .eco-container{
      .eco-header__menuBox{
        .eco-dropdown__menu{
          .eco-dropdown__content{
            max-width: 650px;
          }
        }
      }
    }
  }
}
@media (max-width: 680px) {
  .eco-header{
    .eco-container{
      .eco-header__menuBox{
        position: absolute;
        top: initial;
        right: 0;
        width: 100%;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
        -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
        -ms-transition: all .2s cubic-bezier(.4,0,.2,1);
        -o-transition: all .2s cubic-bezier(.4,0,.2,1);
        transition: all .2s cubic-bezier(.4,0,.2,1);
        display: flex !important;
        padding: 0 16px;
        background-color: var(--eco-blue-1300);
        &.eco-active{
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
        }
        .eco-dropdown__menu{
          border-radius: 0;
          background-color: var(--eco-blue-1300);
          max-width: 100%;
          top: -50px;
          position: relative;
          width: 100%;
          box-shadow: none;
          display: flex !important;
          .eco-dropdown__content{
            max-width: 100%;
            display: block;
            overflow-y: auto;
            height: calc(100vh - 72px);
            .eco-dropdown__links{
              flex-direction: column;
              padding: 10px 0;
              border-bottom: 1px solid var(--eco-blue-100);
              &.border-none{
                border: none;
              }
              .link{
                padding: 10px 4px;
                p{
                  margin: 0;
                  color: #FFFFFF;
                }
                .icon{
                  margin-right: 16px;
                }
                .text{
                  color: #FFFFFF;
                }
              }
            }
            .eco-dropdown__category{
              padding: 0px;
              max-width: 100%;
              height: max-content;
              max-height: max-content;
              padding: 12px 0;
              border-bottom: 1px solid var(--eco-blue-100);
              a {
                color: #FFFFFF;
                font-size: 16px;
                padding: 10px 4px;
                .icon{
                  width: 100%;
                  max-width: 24px;
                  margin-left: 4px;
                }
                &:hover{
                  background-color: transparent;
                  font-family: var(--eco-font-regular);
                }
              }
            }
          }
        }
      }
      .eco-header__groupHead {
        justify-content: space-between;
        .eco-header__mobile{
          max-width: 100%;
          .eco-header__user{
            justify-content: flex-end;
            height: 40px;
            margin-right: 16px;
            padding: 0 10px;
            max-width: 100%;
          }
          .eco-header__burger{
            background-color: var(--eco-primary);
            border-radius: 6px;
            width: 100%;
            max-width: 40px;
            height: 40px;
            padding: 6px;
          }
        }
      }
      .eco-header__buscador{
        .form-control{
          height: 42px;
        }
      }
      .eco-header__location{
        padding: 16px 0;
        margin: 0;
        p{
          font-size: 12px;
        }
      }
      .eco-submenu__mobile{
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 120vh;
        background-color: var(--eco-blue-1300);
        width: 100%;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
        -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
        -ms-transition: all .2s cubic-bezier(.4,0,.2,1);
        -o-transition: all .2s cubic-bezier(.4,0,.2,1);
        transition: all .2s cubic-bezier(.4,0,.2,1);
        padding: 16px;
        &.eco-active{
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
        }
        .eco-categoria__return{
          padding: 8px 0;
          .icon{
            margin-right: 5px;
          }
          p{
            color: #FFFFFF;
            font-family: var(--eco-font-semibold);
            font-size: 14px;
            margin: 0;
          }
        }
        .eco-categoria__item{
          .eco-item__title{
            padding: 12px 0;
            border-bottom: 1px solid var(--eco-blue-100);
            h2{
              margin: 0;
              font-size: 14px;
              font-family: var(--eco-font-semibold);
              color: #FFFFFF;
            }
            a{
              font-size: 14;
              font-family: var(--eco-font-bold);
              color: #FFFFFF;
            }
          }
          .eco-item__content{
            padding: 12px 0;
            a{
              font-size: 16px;
              color: #FFFFFF;
              justify-content: space-between;
              padding: 10px 4px ;
            }
          }
        }
      }
    }
  }
}
.logo-class{
  cursor: pointer;
}
