@import "../builder/fonts.builder";

@include font-face("Montserrat-Light", "../../assets/font/Montserrat-Light", 100, normal);
@include font-face("Montserrat-Regular", "../../assets/font/Montserrat-Regular", 100, normal);
@include font-face("Montserrat-Medium", "../../assets/font/Montserrat-Medium", 100, normal);
@include font-face("Montserrat-SemiBold", "../../assets/font/Montserrat-SemiBold", 100, normal);
@include font-face("Montserrat-Bold", "../../assets/font/Montserrat-Bold", 100, normal);

$font-light: 'Montserrat-Light', Arial, Helvetica, sans-serif;
$font-regular: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
$font-medium: 'Montserrat-Medium', Arial, Helvetica, sans-serif;
$font-semibold: 'Montserrat-SemiBold', Arial, Helvetica, sans-serif;
$font-bold: 'Montserrat-Bold', Arial, Helvetica, sans-serif;