@mixin font-face($style-name, $src-name, $weight, $style) {
    @font-face {
      font-family: $style-name;
      font-weight: $weight;
      font-style: $style;
      src: url($src-name + '.ttf') format('truetype');
    }
  }