<p-dialog [(visible)]="visibleDialogBanner" [showHeader]="false" [modal]="true" [style]="{ width: '600px' }"
  class="eco-dialog eco-dialog__banner">
  <div class="eco-dialog__image">
    <img src="{{this._serviceBanner.objBannerPopupHome![0].resourceDesktop}}" alt="Somos Chamba">
    <div class="eco-dialog__close flex align-items-center justify-content-center" (click)="hideDialogBanner()">
      <img src="../../../../../assets/svg/close.svg" alt="Somos Chamba">
    </div>
  </div>
</p-dialog>