.eco-dialog__image{
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    img{
        width: 100%;
    }
    .eco-dialog__close{
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100%;
        max-width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: var(--eco-blue-100);
        img{
            max-width: 24px;
        }
    }
}
@media (max-width: 680px) {
    .eco-dialog__image{
        .eco-dialog__close{
            max-width: 28px;
            height: 28px;
            img{
                max-width: 16px;
            }
        }
    }
}